/* special style sheet to fix MSIE */

BODY, TD, DIV {
	font-size: 10pt;	
}

TABLE {
	border-spacing: 0px;
	border-collapse: collapse;
}

TH {
	font-size: 10pt;
}

A {
	padding-left: 3px;
	padding-right: 3px;
}

A:Hover {
	padding-left: 2px;
	padding-right: 2px;
}

A.small {
	font-size: 7pt;
}

TD.header {
	border-width: 3px;
	border-style: solid;
	font-size: 12pt;
}

TD.header_hilight {
	font-size: 12pt;
}

TD.logo {
	font-size: 12pt;
}

TD.subheader {

	font-size: 7pt;
}

TH.title {
	font-size: 14pt;
}

TD.header A {
	padding-left: 0px;
	padding-right: 0px;
}

TD.header A:Hover {
	padding-left: 0px;
	padding-right: 0px;
}

DIV.stats {
	font-size: 7pt;
}
