BODY {
	background-color: #ECFAFF;	
}

BODY, TD, DIV {
	font-family: sans-serif;
	font-size: medium;	
	color: black;
}

TABLE {
	border: 2px outset gray;
	width: 100%;
	border-spacing: 0px;	
	margin-top: 5px;
	empty-cells: show;
}

TH {
	background-color: #A6BCEA;
	font-size: medium;
	text-align: left;
	padding: 2px;
}

TD {
	border-top: 1px inset silver;
	border-bottom: 1px inset silver;
	padding: 2px;	
}

A {
	color: #1C19B3;
	text-decoration: none;
	padding-left: 3px;
	padding-right: 3px;
}

A:Visited {
	color: #0F0E67;
}

A:Hover {
	background-color: #BECFEF;
	border: 1px solid #1C19B3;
	padding-left: 2px;
	padding-right: 2px;
}

A.small {
	font-size: x-small;
}

A[name] {
	padding: 0px;
}

A[href] {
	padding-left: 3px;
	padding-right: 3px;
}

A[href]:Hover {
	padding-left: 2px;
	padding-right: 2px;
}

H1, H2, H3, H4, H5 {
	margin-bottom: 0px;
	background-color: #D8E2F5;
	padding-left: 5px;
	border: 1px solid #C9D8F1;
}

H1 {
	font-size: 25px;
}

HR {
	height: 3px;
	border: 2px outset #0F0E67;
}

BLOCKQUOTE {
	margin-top: 0px;
	margin-bottom: 0px;
}

DL {
	margin: 0px;
}

DT {
	font-weight: bold;
}

/* HEADER styles -- */

DIV.header {
	/*
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: inherit;
	*/
	border-bottom: 4px ridge #201DD1;
}

DIV.spacer {
	height: 0px;
	visibility: hidden;
}

TABLE.header {
	border: none;		
	margin-top: 0px;	
}

TR.header {
	background-color: #BECFEF;
	padding: 5px;	
}

TD.header {
	border: none;
	font-size: larger;
	font-weight: bold;
	text-align: center;
	color: #777E9F;
}

TD.header A {
	border: none;
	padding-left: 2px;
	padding-right: 2px;
}

TD.header A:Hover {
	border: none;
}

TD.header_hilight {
	border: 3px solid #BECFEF;
	background-color: #2800D2;
	color: white;
	font-size: larger;
	font-weight: bold;
	text-align: center;
}

TD.logo {
	border: none;
	background-color: #ECFAFF;
	font-size: larger;
	font-weight: bold;
	text-align: center;
	font-style: italic;
}

TD.subheader {
	border: none;
	text-transform: uppercase;
	font-size: x-small;
	color: #777E9F;
}

DIV.stats {
	text-align: center;
	font-size: x-small;
	color: gray;
}

/* -- HEADER styles */

TD.package_name {
	font-weight: bolder;
}

TD.package_count {
	text-align: right;
}

TABLE.packages_list, TABLE.class_list {
	border: none;
}

TD.packages_list, TD.class_list {
	border: none;
}

PRE.tree {
	border: 1px inset #0F0E67;
	background-color: #EBEDFA;
	padding: 4px;
}

TH.glossary {
	width: 3%;
	text-align: center;
}

TH.title {
	font-size: x-large;
}

TH.inherittitle {
	border: 1px inset silver;
	background-color: #99A7E5;
}

TD.small {
	font-size: smaller;
}

HR.small {
	height: 2px;
	border: 1px outset #3A37E4;
}

DIV.declaration {
	font-family: monospace;
	background-color: #EDF8FA;
	border: 1px solid #D1D1F8;
}

SPAN.us_mod {
	font-weight: bold;
}

SPAN.us_keyw {
	font-weight: bold;
}

SPAN.small {
	font-size: smaller;
}

SPAN.function_state {
	font-size: smaller;
	font-style: italic;
}

BLOCKQUOTE.comment {
	margin-top: 5px;
}

H3.vartag {
	background-color: #A6BCEA;
}

/* source code listing */

A.source {
	border: none; 
	background-color: transparent;
	padding: 0px;
	color: #000099;
}

A.source:Visited {
	color: #000099;
}

A.source:Hover {
	border: none; 
	background-color: transparent;
	padding: 0px;
	color: #FF0000;
}

.source_string {
	color: #0000FF;
}

.source_int {
	color: #0000FF;
}

.source_float {
	color: #0000FF;
}

.source_comment {
	color: #009933;
}

.source_macro {
	color: #CC0000;
}

.source_keyword {
	font-weight: bold;
}

.source_keyword2 {
	font-weight: bold;
}

.source_name {
	color: #660000;
}

.source_type {
	color: #000033;
}

DIV.source {
	background-color: #FAFAFE;	
	padding: 2px;
	display: table;
	width: 100%;
	border: 1px inset #2F2CE2;
}

PRE.source {	
	margin: 0px;
}

.source_lineno {
	color: #A9A9A9;
}

TABLE.source {
	border: none;
}

TD.source_lineno {
	vertical-align: top;
	font-family: monospace;
	border: none;		
	padding-right: 10px;
}

TD.source {
	width: 99%;
	vertical-align: top;
	border: none;	
}

.hidden {
	visibility: hidden;
	position: absolute;
}